.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.cache/
*.log
data/raw/*
data/processed/*
data/external/*
data/splits/*
models/*
outputs/models/*
outputs/results/*
outputs/figures/*
outputs/reports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/splits/.gitkeep
!models/.gitkeep
!outputs/models/.gitkeep
!outputs/results/.gitkeep
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep
