.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
*.log
data/raw/*
data/processed/*
data/external/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!models/.gitkeep
